#drum-machine-img{
    width: 350px;
    height: 200px;
}

@media only screen and (min-width: 768px) {
    /** med screens **/
#drum-machine-img{
        width: 700px;
        height: 400px;
    }
}

@media only screen and (min-width: 992px) {
    /**  large screens **/
    #drum-machine-img{
        width: 1050px;
        height: 600px;
    }
}

@media only screen and (min-width: 1200px) {
    /** xl screens **/
    #drum-machine-img{
        width: 1400px;
        height: 800px;
    }
}

.history-label{
    margin: 20px;
    font-size: x-large;
}

@media only screen and (min-width: 720px) {
    /** small screens **/
.history-label{
    font-size: xx-large;
}
}

.history-text, .writeup-text{
    font-size: small;
}

@media only screen and (min-width: 720px) {
    /** small screens **/
    .history-text, .writeup-text{
        font-size: large;
    }
}    


.grid{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    justify-content: center;
    align-items: center;
}


@media only screen and (min-width: 540px) {
    /** small screens **/
    .grid{
        grid-template-columns:  120px 120px 120px;
        grid-template-rows: 120px 120px 120px;
    }
}

@media only screen and (min-width: 1200px) {
    /** large screens **/
    .grid{
        grid-template-columns: 150px 150px 150px;
        grid-template-rows: 150px 150px 150px;
    }
}

#gridq{
    grid-column: 1/2;
    grid-row: 1/2;
}

#gridw{
    grid-column: 2/3;
    grid-row: 1/2;
}

#gride{
    grid-column: 3/4;
    grid-row: 1/2;
}

#gridf{
    grid-column: 1/2;
    grid-row: 2/3;
}

#gridg{
    grid-column: 2/3;
    grid-row: 2/3;
}

#gridh{
    grid-column: 3/4;
    grid-row: 2/3;
}


/** small screens **/
.drum-pad{
    height: 90px;
    width: 90px;

    cursor:'pointer';
  
    -webkit-user-select: none; 
    -moz-user-select: none; 
         user-select: none; 
   -webkit-user-drag: none; 

}


@media only screen and (min-width: 540px) {
/** individual buttons */
    .drum-pad{
        height: 100px;
        width: 100px;
    }
}

@media only screen and (min-width: 1200px) {
    /** individual buttons */
    .drum-pad{
        height: 120px;
        width: 120px;
    }
}

.checkbox-1x {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
}
.checkbox-2x {
    transform: scale(2);
    -webkit-transform: scale(2);
}

#volume{
    width: 400px;
}

#display{
    height: 50px
}